<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalculadoraClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CalculadoraClient.Properties.Settings>
            <setting name="CalculadoraClient_Calculadora_Calculadora" serializeAs="String">
                <value>https://localhost:44308/Services/Calculadora.asmx</value>
            </setting>
        </CalculadoraClient.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculadoraSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CalculadoraSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44308/Services/Calculadora.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculadoraSoap"
                contract="Calculadora.CalculadoraSoap" name="CalculadoraSoap" />
        </client>
    </system.serviceModel>
</configuration>